body{
    font-family: Arial;
    text-align:center;
    background:#f2f2f2;
}


.card{

    background:white;
    margin:20px;
    padding:20px;
    border-radius:15px;

}


button,a{

    padding:10px 20px;
    border-radius:10px;
    background:black;
    color:white;
    text-decoration:none;

}
